/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

// Fonts
$josefin-sans: "Josefin Sans", sans-serif;

// Colors
$off-white: #f4f8fb; //#EDF2F8 #EDF3F5 #E7ECED  #ede9e7
$lightest-blue: #D8E4F0; // #D1DDE8 #d5e2ec
$light-blue: #a8c6ed;
$dark-orange: #925920; 
$dark-tan: #a78c72;
$dark-green: #50512d;
$medium-pink: #af6a88;

$light-pink: #e8d4d8;
$light-orange: #ebc8a4;
$medium-blue: #76A0DB;
$dark-blue: #1e5289;
$slate-blue: #a4c5de;

// Base document colors
$navbar-bg: $off-white; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $dark-orange; // highlight color when hovering over navbar links
$body-bg: $lightest-blue; // page background 
$body-color: $dark-green; // page text 
$footer-bg: $lightest-blue; // footer
$footer-fg: $dark-green; // footer foreground elements
$link-color: $dark-orange; // hyperlinks

// Hyperlink attributes
$link-decoration: none;


/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $josefin-sans
}

.navbar-brand{ // from Brianna Heggeseth
  font-family: $josefin-sans;
  font-size: 25px;
}

// div.quarto-about-jolla .column-page { // needs troubleshooting
  // color: $dark-green !important;
// }

.about-link {
  color: $dark-green !important;
  border: 1px solid $dark-green !important;
  opacity: 1 !important;
}

.about-link i {
  color: $dark-green !important;
}

.about-link:hover {
  color: $dark-orange !important;
  border-color: $dark-orange !important;
  background-color: transparent !important; 
}

.about-link:hover i, 
.about-link:hover span {
  color: $dark-orange !important;
}